* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, Verdana, Arial, sans-serif;
}
h1{
    font-size: 40px;
    
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

nav a {
    margin-right: 1em;
      color: steelblue;
      text-decoration: none;
}

